
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
.bg-purple{
    background-color: #5E3BEE !important;
    color: white !important;  
}
.input-color{
    border:1px solid #5E3BEE !important;
}
.leftdiv h1 span{
    color:  #5E3BEE !important;
}
.outline{
    border-color: #5E3BEE !important;
    color: #5E3BEE !important;
    padding:  !important;
}
.contact-btn{
    background-color: #5E3BEE !important;
    color: white !important;
}
.contact-btn:hover{
     background-color: #5E3BEE !important;
    color: white !important;
}
.herosectioncolor{
    background-color: #F5FCFF !important;
    /* background-color: blueviolet; */
     /* width: 100% !important; */
}
.links li a{
    color: #1C1E53 !important;
    font-size: 16px !important;
}
.navshadow{
   box-shadow: 0px 5.33px 80px 0px #0000001A !important;

}
.card{
    background-color: #F5FCFF !important ;
    /* background-color: cadetblue; */
    border: none !important;
    outline: none !important;
}
.card1{
    border-bottom: 4px solid #5E3BEE !important;
}
.expertise-h1{
    font-size: 50px !important;
    font-weight: 700 !important;
    line-height: 120% !important;
    font-family: Roboto !important;
    color: #282938 !important;
}
.expertise-h6{
    font-family: Roboto !important;
    color: #282938 !important;
}
.project-card{
    box-shadow: 0px 5.33px 16px 0px #00000026 !important;
    border-radius: 5px !important;
}
#rightarrow{
    height: 15px !important;
}
 .reviews{
    border: 1.33px solid #006B6A !important;
 }
 .stars-width{
    width: 30% !important;
 }
 
  .marginleft-custom{
    margin-left: 10% !important ;
  }
  .marginleft-custom h1{
   font-family: Roboto !important;
}
 .marginleft-custom h6{
   font-family: Roboto !important;
}
.tags{
    text-decoration: none !important;
    font-size: 15px !important;
    color: black !important;
}
.secondtags{
    font-size: 16px !important;
    color: black !important;
}
.heropara{
    font-size: 18px !important;
}
.para-color{
    color: #1C1E53 !important;
    font-family: Roboto !important;
}
.border-custom{
    
    border-bottom: 3px solid #5E3BEE !important;
    padding-bottom: 5px !important;
}
.vector{
    width: 17px !important;
    height: 17px !important;   
}
.name{
    color: black !important;
    font-weight: 400 !important;
    font-family: Roboto !important;
}
.h6-custom{
    font-family: Roboto !important;
}
.aboutme-h1{
    font-family: Roboto !important;
}
.aboutme-para{
    font-weight: 400 !important;
}
.about-h6{
    font-family: Roboto !important;
}
.contact-custom{
    font-family: Roboto !important;
}